/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
}

.nav-link-custom {
  color: #002060;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-custom:hover {
  text-decoration: underline;
  color: #83b9dc;
}

.custom-alerts {
  position: fixed;
  top: 10ch;
  right: 10ch;
  z-index: 9999;
  display: block;
}

.btn-mustard {
  background-color: #ffac30;
  font-size: 1.25rem;
  color: #ffffff;
  border-radius: 0.5ch;
  border-color: transparent;
  text-decoration: none;
}

.btn-mustard:hover {
  background-color: #83b9dc;
}

.title-color {
  color: #002060;
}

.medium-title-color {
  color: #83B9DC;
}

.background-custom {
  background-color: #f5f5f5;
}